Add remaining non-obsolete and non-experimental record types

[RFC-1035 section 3.2.2](https://www.rfc-editor.org/rfc/rfc1035#section-3.2.2)