Finish adding query types!

[RFC 1025 section 3.2.3](https://www.rfc-editor.org/rfc/rfc1035#section-3.2.3)

This isn't super necessary from my specific use case. SimpleDNS was built to be more of a caching resolver type dns server and not so much a name server. Like the first diagram in [this section](https://www.rfc-editor.org/rfc/rfc1035#section-2.2)

